@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family:'Roboto', sans-serif ;
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 3px solid black;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    color: yellow;
    font-size: 20px;
}
.row{
    margin: 8px 0px;
}  
.row input{
    width: 291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 3px solid black;
    border-radius: 6px;
}